.log{
    color: #0C0C0C;

/* Desktop_tablet/H2 */
font-family: Gilroy;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 44px; /* 91.667% */
letter-spacing: -0.96px;
margin-bottom: 24px;

}

.name{
    overflow: hidden;
color: #0C0C0C;

text-overflow: ellipsis;
white-space: nowrap;
font-family: Gilroy;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 100% */
letter-spacing: -0.4px;
margin-bottom: 8px;

}

.cost{
    color: rgba(12, 12, 12, 0.50);

font-family: Gilroy;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.28px;

}
.card{
    border-radius: 30px;
border: 1px solid rgba(12, 12, 12, 0.05);

background: #F3F3F3;
padding: 20px;




}

.card1{
    border-radius: 30px;
    border: 1px solid rgba(12, 12, 12, 0.05);
    
    background: #F3F3F3;
    padding: 20px;
}


.none-item{

   
    border-radius: 30px;
    border: 1px solid rgba(12, 12, 12, 0.05);
    
    background: #F3F3F3;
    padding: 20px;
    
   
}



.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 23px;

    justify-content: center;

   

}

.catalog{
    padding-top: 100px;
    padding-bottom: 100px;
}



.show{
    color: #FBFBFB;

text-align: center;
font-family: Gilroy;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 128.571% */
width: 160px;
height: 48px;
flex-shrink: 0;
border-radius: 16px;
background: #3350E9;
margin-left: 100px;
display: none;
}



@media screen and ( max-width:1200px){

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

   

}

.waches{
    width: 268px;
height: 292px;
flex-shrink: 0;
}

    .card{

       padding-left: 20px;
       padding-right: 20px;
       padding-top: 34px;
       padding-bottom: 24px;
    }

    .card1{
        padding-left: 10px;
       padding-right: 10px;
       padding-top: 34px;
       padding-bottom: 24px;
    }

   .none-item{
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 34px;
    padding-bottom: 24px;
    }

.flex-suporter2{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 34px;
    padding-bottom: 24px;
}


}


@media screen and ( max-width:719px){






   .show{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

   }


   .cards{
   
    justify-content: center;


}

   .none-item{

    display: none;
   }
   

}