<section class="catalog">
  <div class="container">
    <h3 class="log">Catalog</h3>
    <ul class="cards">


        <li class="card1">
          <picture>
            <source media="( min-width:1200px)" srcset="./img/desktop/watch1-desctop-1x.webp 1x , ./img/desktop/watch1-desctop-2x.webp 2x" >
  <source media="( max-width:1200px)" srcset=" ./img/tablet/watch1-tablet.1x.webp 1x ,./img/tablet/watch1-tablet.2x.webp 2x " >
  <source media="( max-width:719px)" srcset="./img/mobile/watch1-mbile.1x.webp 1x ,./img/mobile/watch1-mbile.2x.webp 2x  " >
          <img src="./img/advertismant/watch1.png" alt="waches" class="waches" />
          </picture>
          <h3 class="name">Garmin Fenix 7X Pro Sapphire Sol</h3>
          <p class="cost">€500</p>
        </li>

        <li class="card , flex-suporter">
          <picture>
            <source media="( min-width:1200px)" srcset="./img/desktop/watch2-desctop-1x.webp 1x , ./img/desktop/watch2-desctop-2x.webp 2x" >
  <source media="( max-width:1200px)" srcset=" ./img/tablet/watch2-tablet.1x.webp 1x ,./img/tablet/watch2-tablet.2x.webp 2x" >
  <source media="( max-width:719px)" srcset="./img/mobile/watch2-mbile.1x.webp 1x ,./img/mobile/watch2-mbile.2x.webp  2x" >
          <img src="./img/advertismant/watch2.png" alt="waches" class="waches" />
          </picture>
          <h3 class="name">Garmin Marq Athlete</h3>
          <p class="cost">€450</p>
        </li>

        <li class="card , flex-suporter">
<picture>
 <img src="../img/tablet/" alt="">
  <source media="( min-width:1200px)" srcset="./img/desktop/wtch3-desctop-1x.webp 1x , ./img/desktop/wtch3-desctop-2x.webp 2x" >
  <source media="( max-width:1200px)" srcset=" ./img/tablet/watch3-tablet.1x.webp 1c ,./img/tablet/watch3-tablet.2x.webp 2x " >
  <source media="( max-width:719px)" srcset="./img/mobile/watch3-mbile.1x.webp 1x ,./img/mobile/watch3-mbile.2x.webp 2x " >
          <img src="./img/advertismant/watch3.png" alt="waches" class="waches" />
        </picture>
          <h3 class="name">Garmin Descent MK1</h3>
          <p class="cost">€680</p>
        </li>
     
      



    
        <li class="card">
          <picture>
      
            <source media="( min-width:1200px)" srcset="./img/desktop/watch4-desctop.1x.webp 1x, ./img/desktop/watch4-desctop.2x.webp 2x" >
  <source media="( max-width:1200px)" srcset=" ./img/tablet/watch4-tablet.1x.webp 1x ,./img/tablet/watch4-tablet.2x.webp  2x" >
  <source media="( max-width:719px)" srcset="./img/mobile/watch4-mbile.1x.webp 1x ,./img/mobile/watch4-mbile.2x.webp  2x" >
  
          <img src="./img/advertismant/watch4.png" alt="waches" class="waches" />
          </picture>
          <h3 class="name">Garmin D2 Delta PX</h3>
          <p class="cost">€380</p>
        </li>

        <li class="none-item , flex-suporter1">
          <picture>
            <source media="( min-width:1200px)" srcset="./img/desktop/watch5-desctop.1x.webp 1x , ./img/desktop/watch5-desctop.2x.webp" >
  <source media="( max-width:1200px)" srcset=" ./img/tablet/watch5-tablet.1x.webp 1x ,./img/tablet/watch5-tablet.2x.webp  2x" >
 
  

          <img src="./img/advertismant/watch5.png" alt="waches" class="waches" />
          </picture>
          <h3 class="name">Garmin Fenix 6 Pro Solar</h3>
          <p class="cost">€400</p>
        </li>

        <li class="none-item , flex-suporter2">
          <picture>
        
            <source media="( min-width:1200px)" srcset="./img/desktop/watch6-desctop.1x.webp 1x , ./img/desktop/watch6-desctop.2x.webp 2x" >
  <source media="( max-width:1200px)" srcset=" ./img/tablet/watch6-tablet.1x.webp  1x,./img/tablet/watch6-tablet.2x.webp 2x" >

          <img src="./img/advertismant/watch6.png" alt="waches" class="waches" />
          </picture>
          <h3 class="name">Tube Watch S42 Date Steel With</h3>
          <p class="cost">€395</p>
        </li>
      
     
    </ul>
    <button class="show" type="button">Show more</button>
  </div>
</section>